#Options -Indexes

RewriteEngine on

# News controller
RewriteRule ^home$ app/controller/ContentController.php?route=all
RewriteRule ^discover$ app/controller/ContentController.php?route=discover
RewriteRule ^profile/timeline$ app/controller/ContentController.php?route=profile_timeline
RewriteRule ^profile/following$ app/controller/ContentController.php?route=profile_following
RewriteRule ^profile/submit$ app/controller/ContentController.php?route=submit
RewriteRule ^profile/myProfile$ app/controller/ContentController.php?route=myProfile
RewriteRule ^profile/confirm_profile_change/(\d+)$ app/controller/ContentController.php?route=confirm_profile_change&user_ID=$1

RewriteRule ^detail/(\d+)$ app/controller/ContentController.php?route=detail&storyID=$1
RewriteRule ^detail/(\d+)/edit$ app/controller/ContentController.php?route=detail&storyID=$1&edit=true
RewriteRule ^detail/(\d+)/delete$ app/controller/ContentController.php?route=detail&storyID=$1&delete=true
RewriteRule ^save_editing_process/(\d+)$ app/controller/ContentController.php?route=save_editing_process&storyID=$1

RewriteRule ^signup$ app/controller/ContentController.php?route=signup
RewriteRule ^confirm_registration$ app/controller/ContentController.php?route=confirm_registration

RewriteRule ^admin$ app/controller/ContentController.php?route=admin
RewriteRule ^admin/success$ app/controller/ContentController.php?route=admin&success=true

RewriteRule ^admin/admin_confirm_change/(\d+)$ app/controller/ContentController.php?route=admin_confirm_change&user_ID=$1

RewriteRule ^user/(.*)$ app/controller/ContentController.php?route=user&username=$1



# Site controller
RewriteRule ^$ app/controller/SiteController.php?route=home
RewriteRule ^login$ app/controller/SiteController.php?route=login
RewriteRule ^login/process$ app/controller/SiteController.php?route=loginProcess
RewriteRule ^logout$ app/controller/SiteController.php?route=logout
