
/* header section--------------------------------------------------------------- */

#header h1 {
    display: inline-block;
    font-family: JosefinSans-Regular;
}

#header form {
    display: inline-block;
}

#header form>input {
    font-family: JosefinSans-SemiBold;
    color: rgb(139, 150, 235);
    /* color: #127676; */
    text-align: center;
}

#header form>button {
    font-family: JosefinSans-SemiBold;
    color: #8191fc;
    background: #f2f3ff;
}
#btn-signup
{
    text-decoration: none;;
}
#primary-nav {
    display: inline-block;
}

#primary-nav>li {
    display: inline;
    /* padding: 3px; */
    font-family: JosefinSans-Regular;
}

#primary-nav>li>a {
    color: rgb(182, 192, 255);
    text-decoration: aqua;
    font-family: JosefinSans-Regular;
}

#header {
    padding: 2% 0 0 0;
    width: 100%;
    text-align: center;
}

::placeholder {
    font-family: JosefinSans-SemiBold;
    color: #abb3ee;
}

@media screen and (min-width: 1000px) {
    #header h1 {
        padding: 0 15% 0 5%;
        font-size: 250%;
    }

    #header form {
        padding: 0 5% 0 15%;
    }

    #header form::placeholder {
        font-family: JosefinSans-SemiBold;
        font-size: 120%;
    }

    #header form>input {
        padding: 5px 1px 3px 1px;
        border: 2px solid rgb(242, 243, 255);
        border-radius: 8px;
        font-size: 80%;
    }

    #header form>button {
        /* color: #127676;  */
        border-radius: 8px;
        padding: 5px 8px 2px 8px;
        border: 1px solid rgb(255, 255, 255);
        font-size: 80%;
    }

    #primary-nav>li {
        padding: 5px;
        font-size: 120%;
    }
}

@media screen and (min-width: 1200px) {
    #header form::placeholder {
        font-family: JosefinSans-SemiBold;
        font-size: 120%;
    }

    #header form>input {
        padding: 5px 1px 3px 1px;
        border: 2px solid rgb(242, 243, 255);
        border-radius: 8px;
        font-size: 100%;
        font-family: JosefinSans-SemiBold;
    }

    #header form>button {
        /* color: #127676;  */
        border-radius: 8px;
        padding: 5px 8px 2px 8px;
        border: 1px solid rgb(255, 255, 255);
        font-size: 100%;
    }

    #primary-nav>li {
        padding: 5px;
        font-size: 150%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 780px) {
    #header h1 {
        padding: 0 10% 0 5%;
    }

    #header form {
        padding: 0 5% 0 10%;
    }

    #header form>input {
        padding: 5px 1px 5px 1px;
        border: 2px solid rgb(242, 243, 255);
        border-radius: 8px;
    }

    #header form>button {
        /* color: #127676;  */
        border-radius: 8px;
        padding: 5px 8px 5px 8px;
        border: 1px solid rgb(255, 255, 255);
    }

    #primary-nav>li {
        padding: 5px;
        font-size: 120%;
    }
}

@media screen and (max-width: 780px) {
    #header h1 {
        width: 100%;
    }

    #header form {
        padding: 0 5% 0 10%;
    }

    #header form>input {
        padding: 5px 1px 5px 1px;
        border: 2px solid rgb(242, 243, 255);
        border-radius: 8px;
    }

    #header form>button {
        /* color: #127676;  */
        border-radius: 8px;
        padding: 5px 8px 5px 8px;
        border: 1px solid rgb(255, 255, 255);
    }

    #primary-nav>li {
        padding: 5px;
        font-size: 120%;
    }

    #primary-nav {
        padding-right: 5%;
    }
}

/* body section--------------------------------------------------------------- */

.main {
    padding: 2%;
    background-color: #f7f8ff;
}

.main>#top {
    display: block;
}

.main>.content>li {
    display: inline;
    padding: 2% 2% 10% 2%;
}

#news {
    background-color: #f7f8ff;
    padding: 2% 6% 2% 6%;
    color: rgb(120, 112, 222);
}

#topnews {
    background-color: #ffffff;
    box-shadow: 0 10px 20px 0 rgba(227, 231, 255, 0.25);
    border-radius: 8px;
    display: inline-block;
    float: left;
    background-image: url("../assets/all_topnews.png");
    /* source: https://thefurrow.tv/project/vouchers */
    background-size: cover;
    background-repeat: no-repeat;
    width: 69%;
}

#news>#signin {
    text-align: center;
    /* margin: 1% 1% 1% 1%; */
    /* padding: 3% 0% 10% 1%; */
    box-shadow: 0 10px 20px 0 rgba(227, 231, 255, 0.25);
    border-radius: 8px;

    background-color: #ffffff;
    color: rgb(86, 106, 236);
    width: 20%;
    display: inline-block;
    margin: 0% 0% 0% 5%;
    /* float: right; */
    padding: 3% 3% 5% 3%;
    font-size: 130%;
}

#un, #pw {
    text-align: left;
    padding: 4px;
    margin-top: 4px;
    color: #ffffff;
    border: 1px solid rgb(242, 243, 255);
    border-radius: 4px;
    background: #9da8f5;
    font-family: JosefinSans-SemiBold;
}

#un::placeholder, #pw::placeholder {
    font-family: JosefinSans-SemiBold;
    color: #ffffff;
}

#btn-signin, #btn-signup {
    padding: 5px 6px 5px 6px;
    margin: 10px 5px 2px 5px;
    border: #ffffff;
    background: rgba(227, 231, 255, 0.25);
    border-radius: 2px;
    background: #6cd8f2;
}

#btn-signin {
    background: #6cd8f2;
    font-family: JosefinSans-Bold;
    color: #ffffff;
}

#btn-signup {
    background: #9da8f5;
    font-family: JosefinSans-Bold;
    color: #ffffff;
}

#new>#signin>form {
    padding: 2% 2% 2% 2%;
}

.main>.content>li {
    display: inline;
    border-radius: 8px;
    /*        padding: 5% 2% 10% 2%;*/
}

.pic_story{
    
    border-radius: 10px !important;
    border: none !important;
}

.pic{
    border-radius: 10px !important;
}




.main>ul>li>a>img {
    width: 20%;
    box-shadow: 0 10px 20px 0 rgba(173, 181, 228, 0.25);
    border-radius: 10px;
    /*            padding: 2%;*/
}

@media screen and (min-width: 1000px) {
    #un, #pw {
        width: 80%;

        text-align: left;
        padding: 4% 0% 4% 0%;
        font-size: 70%;
        margin-top: 4px;
        color: #ffffff;
        border: 1px solid rgb(242, 243, 255);
        border-radius: 4px;
        background: #9da8f5;
        font-family: JosefinSans-SemiBold;
    }

    #btn-signin, #btn-signup {
        padding: 1% 5% 2% 5%;
        font-size: 60%;
        margin: 2% 6% 4% 6%;
        border: #ffffff;
        background: rgba(227, 231, 255, 0.25);
        border-radius: 4px;
        background: #6cd8f2;
    }

    #btn-signup 
    {
        background: #9da8f5;
        padding: 20%;
    }
    #signup_form
    {
        float: left;
    }
}

@media screen and (min-width: 1200px) {
    #un, #pw {
        width: 80%;

        text-align: left;
        padding: 4% 0% 4% 0%;
        font-size: 70%;
        margin-top: 4px;
        color: #ffffff;
        border: 1px solid rgb(242, 243, 255);
        border-radius: 4px;
        background: #9da8f5;
        font-family: JosefinSans-SemiBold;
    }

    #btn-signin, #btn-signup {
        padding: 2% 5% 4% 5%;
        font-size: 70%;
        margin: 2% 6% 4% 6%;
        border: #ffffff;
        background: rgba(227, 231, 255, 0.25);
        border-radius: 8px;
        background: #6cd8f2;
    }

}

@media screen and (max-width: 800px) {
    #news #topnews {
        background-color: #ffffff;
        box-shadow: 0 10px 20px 0 rgba(227, 231, 255, 0.25);
        border-radius: 8px;
        background-image: url(../assets/all_topnews.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
    }

    #news>#signin {
        text-align: center;
        /* margin: 1% 1% 1% 1%; */
        /* padding: 3% 0% 10% 1%; */
        box-shadow: 0 10px 20px 0 rgba(227, 231, 255, 0.25);
        border-radius: 8px;
        background-color: #ffffff;
        color: rgb(86, 106, 236);
        width: 90%;
        margin: 1% 1% 1% 1%;
        /* float: right; */
        /*        padding: 3% 3% 5% 3%;*/
        font-size: 130%;
    }
}

@media screen and (max-width: 500px) {
    #news #topnews {
        display: block;
        background-image: url("../assets/all_topnews.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding: 20% 0% 20% 0%;
    }

    #un, #pw {
        width: 80%;
        text-align: left;
        padding: 2% 0% 2% 0%;
        /*        font-size: 70%;*/
        margin-top: 4px;
        color: #ffffff;
        border: 1px solid rgb(242, 243, 255);
        border-radius: 4px;
        background: #9da8f5;
        font-family: JosefinSans-SemiBold;
    }

    #btn-signin, #btn-signup {
        padding: 1% 5% 2% 5%;
        /*        font-size: 60%;*/
        margin: 2% 6% 4% 6%;
        border: #ffffff;
        background: rgba(227, 231, 255, 0.25);
        border-radius: 4px;
        background: #6cd8f2;
    }

    #btn-signup 
    {
        background: #9da8f5;
    }
    .main>.content>li {
        display: inline;
        box-shadow: 0 10px 20px 0 rgba(227, 231, 255, 0.25);
        border-radius: 8px;
        /*        padding: 5% 2% 10% 2%;*/
    }

    .main>ul>li>a>img {
        /* width:35%; */
        min-width: 35%;
        /*            padding: 2%;*/
        margin: 2%;
    }
}

#signin_prompt {
    /*      float: left;*/
    /*      width: 50px;*/
    padding: 2% 2% 2% 2%;
    width: 80%;
    /* margin: 2% 23% 2% 2%; */
    text-align: left;
    background-color: aquamarine !important;
    color: #127676;
    box-shadow: 0 10px 20px 0 rgba(227, 231, 255, 0.25);
    border-radius: 8px;
}

/* footer section--------------------------------------------------------------- */
#footer {
    width: 100%;
    padding: 3% 0% 3% 0%;
    background-image: linear-gradient(-151deg, #c2cbfd 17%, #8191fc 94%);
}

#footer div {
    text-align: center;
    font-family: futura;
    color: #f5f6ff;
}

#copyright>a {
    color: #f5f6ff;
    /* font-family: JosefinSans-Bold; */
    font-family: futura-Bold;
    padding: 0% 2% 0% 2%;
    text-decoration: aqua;
}

@media screen and (max-width: 500px) {
    #footer {
        clear: both;
        width: 100%;
        padding: 7% 0% 7% 0%;
        background-image: linear-gradient(-151deg, #c2cbfd 17%, #8191fc 94%);
    }
}

/* animation section--------------------------------------------------------------- */

.main,
.content,
#signin_prompt {
    color: #8191fc;
    -webkit-animation: fadein 1.5s linear forwards;
    animation: fadein 1.5s linear forwards;
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*------------------------font-----------------------------------------------------------------*/
/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on October 2, 2019 */

@font-face {
    font-family: "JosefinSans-Bold";
    src: url("josefinsans-bold-webfont.woff2") format("woff2"),
        url("josefinsans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Bold-Italic";
    src: url("josefinsans-bolditalic-webfont.woff2") format("woff2"),
        url("josefinsans-bolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Italic";
    src: url("josefinsans-italic-webfont.woff2") format("woff2"),
        url("josefinsans-italic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Light";
    src: url("josefinsans-light-webfont.woff2") format("woff2"),
        url("josefinsans-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Light_Italic";
    src: url("josefinsans-lightitalic-webfont.woff2") format("woff2"),
        url("josefinsans-lightitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Regular";
    src: url("josefinsans-regular-webfont.woff2") format("woff2"),
        url("josefinsans-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Semibold";
    src: url("josefinsans-semibold-webfont.woff2") format("woff2"),
        url("josefinsans-semibold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Semibold-Italic";
    src: url("josefinsans-semibolditalic-webfont.woff2") format("woff2"),
        url("josefinsans-semibolditalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Thin";
    src: url("josefinsans-thin-webfont.woff2") format("woff2"),
        url("josefinsans-thin-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans-Thin-Italic";
    src: url("josefinsans-thinitalic-webfont.woff2") format("woff2"),
        url("josefinsans-thinitalic-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url("futura_medium_bt-webfont.woff2") format("woff2"),
        url("futura_medium_bt-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "futura-Bold";
    src: url("futura_heavy_font-webfont.woff2") format("woff2"),
        url("futura_heavy_font-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}